@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
}

h1 {
  font-family: "Playfair Display", serif;
  color: #264653;
  font-size: 48px;
  text-align: center;
  text-shadow: 4px 4px 34px rgba(0, 0, 0, 0.6);
}

h2 {
  font-family: "Playfair Display", serif;
  color: #264653;
  font-size: 32x;
  text-align: center;
}

h3 {
  font-family: "Playfair Display", serif;
  color: #264653;
  font-size: 24x;
  text-align: center;
}

p {
  font-family: "Roboto flex";
  color: black;
  font-size: 18px;
  text-align: center;
}

/* CONTIENE EL LOGO PRINCIPAL Y NAV BAR */
/* LOGO PRINCIPAL */
.logo_container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 40%;
  max-width: 100%;
}
.logo_container .logo_navbar {
  margin-right: 10px;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
}

/*Se utilizó bootstrap para agregar un menú desplegable para la barra 
de navegacion en mobile*/
/* NAV BAR */
/* BOTÓN DE ÍCONO MENÚ (toggler) */
.custom_toggler {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 32px;
  height: 32px;
}
.custom_toggler:focus, .custom_toggler:active, .custom_toggler:focus-visible {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

/* MENÚ DE LINKS EN DESKTOP */
.custom_collapse {
  justify-content: flex-end;
  /* MENÚ DE LINKS DESPLEGABLE EN MOBILE */
}
.custom_collapse.show {
  z-index: 1050;
  width: 100%;
  background-color: transparent;
  position: relative;
  border: none;
  box-shadow: none;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.custom_collapse .nav_turnos {
  background-color: #CDD3D6;
  font-family: "Roboto flex";
  width: 230px;
  height: 40px;
  padding: 8px 20px;
  border-radius: 19px;
  color: #264653;
  text-decoration: none;
  justify-self: center;
  align-items: center;
  border-color: solid #264653;
}

.container_custom_navbar {
  display: flex;
  align-content: flex-end;
  gap: 10px;
}

.custom-navbar {
  background-color: #F4F4F4;
  border-radius: 10px;
  padding: 10px 0;
  position: relative;
  z-index: 2;
  border-bottom: none;
}
.custom-navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.custom-navbar li {
  margin-left: 10px;
}
.custom-navbar li a {
  font-family: "Roboto flex";
  font-size: 16px;
  font-weight: 600;
  color: #264653;
  text-decoration: none;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-navbar li a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1.5px;
}

a.nav_turnos:hover {
  text-decoration: none !important;
}

.nav_turnos {
  background-color: #CDD3D6;
  font-family: "Roboto flex";
  font-size: 16px;
  border-radius: 19px;
  font-weight: 700;
  color: #264653;
  text-decoration: none;
  padding: 8px 20px;
  border-color: 2px solid #264653;
  align-items: center;
  justify-content: center;
}
.nav_turnos:hover {
  background-color: #264653;
  font-family: "Roboto flex";
  font-size: 16px;
  border-radius: 19px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-color: solid #264653;
  text-decoration: none;
}

.menu_icon {
  border: none;
  width: 24px;
  height: 24px;
}
.menu_icon:focus {
  border: none;
}

.span-brand {
  font-family: "Roboto flex";
  font-size: 16px;
  margin-left: 0px;
  font-weight: 600;
  color: #264653;
}

/*-----------------------FOOTER-------------------------------*/
footer {
  background-color: #264653;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  position: relative;
}
footer section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 20px;
}
footer section div {
  flex: 1 50%;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}
footer section div img {
  max-width: 150px;
  height: 40%;
  width: 40%;
  align-items: center;
}
footer section h3 {
  text-align: left;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 24px;
  color: white;
}
footer .a-footer {
  text-align: left;
  margin-top: 8px;
  font-size: 16px;
  color: white;
  display: block;
  margin-bottom: 0;
  font-family: "Roboto flex";
  font-weight: 100;
  text-decoration: none;
  cursor: pointer;
}
footer .a-footer:hover {
  font-weight: 600;
}

p {
  text-align: left;
  margin-top: 8px;
  font-size: 16px;
  color: white;
  display: block;
  margin-bottom: 0;
  font-family: "Roboto flex";
  font-weight: 100;
}
p.footer_derechos_reservados {
  text-align: left;
  margin-top: 8px;
  font-size: 1rem;
  color: white;
  margin-bottom: 0;
  flex-basis: 100%;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.redes .iconos {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  cursor: pointer;
  margin: 8px;
}
.redes .iconos .icono-redes {
  width: 32px;
  gap: 10px;
}

.bienvenida {
  font-family: "Playfair Display", serif;
  color: #264653;
  font-size: 48px;
  background-color: #F4F4F4;
  text-align: center;
  margin-bottom: 15px;
}

.p-bienvenida {
  font-family: "Roboto flex";
  color: black;
  font-size: 18px;
  background-color: #F4F4F4;
  text-align: center;
  padding-right: 3%;
  padding-left: 3%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.carousel-caption-custom {
  position: absolute;
  top: 35%;
  left: 13%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 16px;
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
}
.carousel-caption-custom h2 {
  font-family: "Playfair Display", serif;
  color: #264653;
  font-size: 32px;
  margin-bottom: 10px;
}
.carousel-caption-custom p {
  font-family: "Roboto flex";
  font-size: 18px;
  color: #333;
  margin-bottom: 16px;
}
.carousel-caption-custom .botones_container a#consulta {
  background-color: #264653;
  color: #fff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Roboto flex";
  font-size: 16px;
  transition: all 0.3s ease;
}
.carousel-caption-custom .botones_container a#consulta:hover {
  background-color: #CDD3D6;
  color: #264653;
  border: 2px solid #264653;
}

.frase {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  text-align: center;
  color: #264653;
  padding: 5%;
}

.mvv-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px 20px;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid transparent; /* para debug, borrá luego */
}

.card-mvv {
  background-color: #BCC5C8;
  border-radius: 28px;
  padding: 40px 20px 20px 20px;
  position: relative;
  height: 280px;
  text-align: center;
  max-width: 320px;
  /* margin: auto; */
  margin-bottom: 20px;
  margin-top: 50px;
  flex: 0 0 320px; /* ancho fijo, no crece ni se achica */
}
.card-mvv .icon-container {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.card-mvv .icon-container img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.card-mvv .card-content {
  margin-top: 30px;
}
.card-mvv .card-content .card-title {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #264653;
}
.card-mvv .card-content p {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

h2.testimonio {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  font-weight: 400;
  color: #264653;
  margin-left: 35px;
}

.testimonios-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 20px;
  align-items: flex-start;
  width: 100%; /* importante */
  max-width: 1200px; /* opcional para no ser muy ancho */
  margin: 0 auto;
  border: 1px solid transparent; /* para debug, borrá luego */
}

.card-testimonios {
  background-color: #C9C1D0;
  border-radius: 28px;
  padding: 40px 20px 20px 20px;
  position: relative;
  text-align: center;
  max-width: 320px;
  /* margin: auto; */
  margin-bottom: 20px;
  margin-top: 50px;
  border: 2px solid #593058;
  flex: 0 0 320px; /* ancho fijo, no crece ni se achica */
}
.card-testimonios .icon-container {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #593058;
  border-radius: 50%;
  padding: 3px;
}
.card-testimonios .icon-container img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}
.card-testimonios .card-content {
  margin-top: 30px;
}
.card-testimonios .card-content .card-name {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #593058;
}
.card-testimonios .card-content p {
  font-size: 14px;
  color: black;
  line-height: 1.5;
  margin: 0;
}

.section-frase {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  text-align: center;
}

.frase {
  text-align: center;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  background-color: #005D66;
  padding: 50px 180px 50px 180px;
  color: #F4F4F4;
  text-shadow: #333;
}

.p-viajes {
  font-family: "Roboto flex";
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  padding: 5%;
}

.info-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 20px;
  padding: 2%;
  flex-wrap: wrap;
}

.img-bigben {
  flex: 1 1 300px;
}
.img-bigben img {
  max-width: 100%;
  height: 480px;
  display: block;
  border-radius: 16px;
}

.info-texto {
  flex: 2 1 600px;
}
.info-texto h2 {
  font-family: "Playfair Display", serif;
  color: #264653;
  margin-bottom: 10px;
  font-size: 24px;
}
.info-texto p {
  font-family: "Roboto flex";
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}

.info-viajes {
  position: relative;
  background-image: url("../assets/turismo-londres.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2%;
  min-height: 500px;
}

.galeria-viajes {
  text-align: center;
}
.galeria-viajes .row {
  justify-content: center;
}
.galeria-viajes img {
  transition: transform 0.3s ease;
  cursor: zoom-in;
  height: 250px;
  object-fit: cover;
  width: 100%;
}
.galeria-viajes img:hover {
  transform: scale(1.05);
}
.galeria-viajes .video-thumbnail-wrapper {
  position: relative;
  display: block;
  cursor: pointer;
}
.galeria-viajes .video-thumbnail-wrapper::after {
  content: "▶";
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 2;
  pointer-events: none;
}
.galeria-viajes .video-thumbnail-wrapper img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.galeria-slide-img {
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

.fotos-grupales h2.text-center.mb-4 {
  margin-bottom: 10px;
}
.fotos-grupales .carousel-inner {
  max-height: 500px;
}
.fotos-grupales .img-carrusel-grupal {
  object-fit: cover;
  height: 500px;
}
.fotos-grupales .grupo-etiqueta {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background-color: rgba(1, 88, 78, 0.6);
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
}

.espacio-entre-secciones {
  height: 60px;
}

.clases-online {
  background-color: rgba(38, 70, 83, 0.08);
  padding: 60px 20px;
  width: 70vw;
  align-items: flex-start;
  margin-top: 30px;
}
.clases-online .contenido-clases {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}
.clases-online .img-clases {
  flex: 1 1 400px;
}
.clases-online .img-clases img {
  width: 70%;
  border-radius: 12px;
  object-fit: cover;
}
.clases-online .texto-clases {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.clases-online .texto-clases .titulo-icono {
  display: flex;
  align-items: center;
  gap: 12px;
}
.clases-online .texto-clases .titulo-icono h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: #264653;
}
.clases-online .texto-clases .titulo-icono img {
  width: 32px;
  height: 32px;
}
.clases-online .texto-clases .resaltado {
  font-family: "Roboto flex";
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  color: #264653;
}
.clases-online .texto-clases p {
  font-family: "Roboto flex";
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: 10px;
  text-align: left;
}
.clases-online .texto-clases .boton-conoce-mas {
  display: flex;
  align-items: center;
  align-content: center;
  height: 90px;
  gap: 10px;
  background-color: #264653;
  color: white;
  padding: 20px 20px;
  border-radius: 8px;
  padding-left: 25%;
  margin-top: 20px;
  margin-left: 5%;
  transform: translateX(50%);
  width: 556px;
}
.clases-online .texto-clases .boton-conoce-mas a {
  text-decoration: none;
  color: white;
  font-family: "Roboto flex";
  font-weight: 100;
  text-align: center;
}
.clases-online .texto-clases .boton-conoce-mas img {
  width: 20px;
  height: 20px;
}

.titulo-icono {
  display: flex;
  align-items: center;
  gap: 10px;
}
.titulo-icono h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: #264653;
  margin: 0;
}
.titulo-icono img {
  width: 32px;
  height: 32px;
}

.viajes-uk {
  background-color: rgba(38, 70, 83, 0.08);
  padding: 60px 20px;
  width: 70vw;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
  min-height: 400px;
}
.viajes-uk .contenido-viajes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px;
}
.viajes-uk .texto-viajes {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin-left: 60px;
}
.viajes-uk .texto-viajes .titulo-icono {
  display: flex;
  align-items: center;
  gap: 12px;
}
.viajes-uk .texto-viajes .titulo-icono h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: #264653;
}
.viajes-uk .texto-viajes .titulo-icono img {
  width: 32px;
  height: 32px;
}
.viajes-uk .texto-viajes .resaltado {
  font-family: "Roboto flex";
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  color: #264653;
  margin-bottom: 10px;
}
.viajes-uk .texto-viajes p {
  font-family: "Roboto flex";
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: 0px !important;
  text-align: left;
}
.viajes-uk .texto-viajes .boton-viaje {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #264653;
  color: white;
  padding: 0 40px;
  height: 90px;
  border-radius: 8px;
  width: 556px;
  max-width: 100%;
  margin: 30px auto 0 auto;
  position: relative;
  right: 380px;
}
.viajes-uk .texto-viajes .boton-viaje a {
  text-decoration: none;
  color: white;
  font-family: "Roboto flex";
  font-weight: 100;
  font-size: 18px;
  white-space: nowrap;
}
.viajes-uk .texto-viajes .boton-viaje img {
  width: 30px;
  height: 30px;
}
.viajes-uk .img-viajes {
  flex: 0 0 auto;
}
.viajes-uk .img-viajes img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
  display: block;
}

.asesorias {
  background-color: rgba(38, 70, 83, 0.08);
  padding: 60px 20px;
  width: 70vw;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 50px;
}
.asesorias .contenido-asesorias {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-wrap: wrap;
}
.asesorias .img-asesorias {
  flex: 1 1 400px;
}
.asesorias .img-asesorias img {
  width: 60%;
  border-radius: 12px;
  object-fit: cover;
}
.asesorias .texto-asesorias {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.asesorias .texto-asesorias .titulo-icono-asesorias {
  display: flex;
  align-items: center;
  gap: 12px;
}
.asesorias .texto-asesorias .titulo-icono-asesorias h2 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: #264653;
}
.asesorias .texto-asesorias .titulo-icono-asesorias img {
  width: 32px;
  height: 32px;
}
.asesorias .texto-asesorias .resaltado {
  font-family: "Roboto flex";
  font-weight: 700;
  margin-top: 20px;
  font-size: 18px;
  color: #264653;
}
.asesorias .texto-asesorias p {
  font-family: "Roboto flex";
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: 10px;
  text-align: left;
  padding-right: 10px;
}
.asesorias .texto-asesorias .boton-asesorias {
  display: flex;
  align-items: center;
  align-content: center;
  height: 90px;
  gap: 10px;
  background-color: #264653;
  color: white;
  padding: 20px 20px;
  border-radius: 8px;
  padding-left: 25%;
  margin-top: 20px;
  margin-left: 5%;
  transform: translateX(50%);
  width: 556px;
}
.asesorias .texto-asesorias .boton-asesorias a {
  text-decoration: none;
  color: white;
  font-family: "Roboto flex";
  font-weight: 100;
  text-align: center;
}
.asesorias .texto-asesorias .boton-asesorias img {
  width: 20px;
  height: 20px;
}

/* BOTON DE WHATSAPP*/
.floating-whatsapp {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 9999 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}
.floating-whatsapp img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  object-fit: cover;
}

.sobre-mi {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  flex-wrap: wrap;
}
.sobre-mi .img-silvia {
  flex: 0 0 auto;
}
.sobre-mi .img-silvia img {
  height: 580px;
  width: auto;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}
.sobre-mi .texto-sobre-mi {
  flex: 1 1 500px;
  align-content: flex-start;
  text-align: left !important;
}
.sobre-mi .texto-sobre-mi h2 {
  font-family: "Playfair Display", serif;
  color: #264653;
  margin-bottom: 15px;
  font-size: 32px;
  text-align: left !important;
}
.sobre-mi .texto-sobre-mi p {
  font-family: "Roboto flex";
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left !important;
}
.sobre-mi h3 {
  font-family: "Playfair Display", serif;
  color: #264653;
  margin-bottom: 15px;
  font-size: 24px;
  text-align: left !important;
}
.sobre-mi .resaltado {
  font-weight: bold;
  font-family: "Roboto flex";
}

.lista-servicios {
  list-style-type: disc;
  padding-left: 20px;
  font-family: "Roboto flex";
  font-size: 16px;
  color: black;
}
.lista-servicios li {
  margin-bottom: 12px;
  line-height: 1.6;
  color: black;
}
.lista-servicios li .servicios {
  text-align: start;
  color: black;
}

.service {
  width: 100%;
  margin-bottom: 1ps;
}

.servicios2 {
  text-align: start !important;
  font-family: "Roboto flex";
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
  width: 100%;
}

.asesoria-educativa {
  background-color: #f9f9f9;
}
.asesoria-educativa h2 {
  color: #264653;
  font-weight: 600;
  text-align: start;
  font-family: "Playfair Display", serif;
  font-size: 32px;
}
.asesoria-educativa .lead {
  font-size: 18px;
  color: black;
  font-family: "Roboto flex";
  text-align: start;
}
.asesoria-educativa .list-group-item {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: #444;
}
.asesoria-educativa img {
  max-width: 100%;
  height: 75vh;
  border-radius: 10px;
  align-self: flex-end;
}
.asesoria-educativa .fw-bold {
  font-size: 1.1rem;
}
.asesoria-educativa .frase-asesoria {
  font-family: "Roboto flex";
  font-size: 18px;
  font-weight: 700;
  color: #593058;
  margin-top: 20px;
  text-align: start;
}

.clases-online-full {
  background-color: transparent;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
.clases-online-full h2 {
  color: #264653 !important;
  font-weight: 600;
  text-align: start;
  font-family: "Playfair Display", serif;
  font-size: 32px;
}
.clases-online-full .lead {
  font-size: 18px;
  color: black;
  font-family: "Roboto flex";
  text-align: start;
}
.clases-online-full ul li {
  background: transparent;
  border: none;
  font-size: 18px;
  padding-left: 0;
  color: black;
}
.clases-online-full .botones_container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  margin-left: 350px;
}
.clases-online-full .botones_container a#contactar {
  background-color: #264653;
  color: white;
  font-family: "Roboto flex";
  font-weight: bold;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.clases-online-full .botones_container a#contactar:hover {
  background-color: #CDD3D6;
  color: #264653;
  border: 2px solid #264653;
}

img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/*# sourceMappingURL=stylesass.css.map */
