@use 'variables' as *;


.clases-online-full.py-5 {
  width: 100%;
  max-width: 1200px; // límite en desktop
  overflow: hidden;
  .col-lg-8.px-5{
    padding: 15px !important;
  }

  h2 {
    color: $primario !important;
    font-weight: $semibold;
    text-align: start;
    font-family: $h;
    font-size: 32px;
  }

  .lead {
    font-size: 18px;
    color: black;
    font-family: $p;
    text-align: start;
  }

  ul li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    background: transparent;
    border: none;
    font-size: 18px;
    padding-left: 0;
    color: black;


    .material-symbols-outlined {
      color: #005D66;
      font-size: 26px;
      flex-shrink: 0;
      margin-top: 4px;
      font-variation-settings: 'wght' 100 'GRAD' 0;
    }
  }
}

.botones_container {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  padding-left: 5%;

  a#contactar {
    background-color: $primario;
    color: white;
    font-family: $p;
    font-weight: $regular;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 10px; // bien redondeado
    border: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover {
      background-color: $bg2;
      color: $primario;
      border: 2px solid $primario;
      font-weight: $semibold;
    }
  }
}





img {
  height: 100%;
  width: auto;
 
  object-fit: cover !important;
}