@use 'variables' as *;
// MIXINS
@mixin desktop {
    @media (min-width: $desktop-min) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: $mobile-max) {
      @content;
    }
  }

  @mixin mobile-tablet {
  @media (max-width: $tablet-max) {
    @content;
  }
}


// _mixins.scss

$card-bg: rgba(38, 70, 83, 0.08);
$card-padding: 60px 20px;
$card-max-width: 1200px;
$card-width: 50vw;
$card-radius: 12px;

@mixin card-common {
  background-color: $card-bg;
  padding: $card-padding;
  width: $card-width;
  max-width: $card-max-width;
  margin: 30px auto;
  display: flex;
  gap: 40px;
  align-items: center;
  border-radius: $card-radius;
  box-sizing: border-box;
  flex-wrap: wrap;
}

// Mixin para botón de servicios
@mixin boton-estandar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0a4c94;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  flex-wrap: nowrap;

  a {
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    white-space: nowrap;
  }

  img {
    width: 20px;
    height: 20px;
  }
}