@use 'variables' as *;
h1{
  font-family: $h;
  color: $primario;
  font-size: 48px;
  text-align: center;
  text-shadow: 4px 4px 34px rgba(0,0,0,0.6);
}
h2 {
  font-family: $h;
  color: $primario;
  font-size: 32x;
  text-align: center;
}
h3{
  font-family: $h;
  color: $primario;
  font-size: 24x;
  text-align: center; 
}
p{
       font-family: $p;
  color: black;
  font-size: 18px;
  text-align: center;

}

